.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1015px;
}

.items-wrapper {
    display: flex;
    gap: 20px; /* Adjust the gap between items */
    overflow: hidden;
    width: 100%; /* You can control the width here */
    justify-content: flex-start;
    padding: 20px;
}

.item {
    width: 280px; /* Set each item width */
    flex-shrink: 0; /* Prevent items from shrinking */
}

.carousel-button {
    background-color: transparent;
    border: none;
    width: 50px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    color: #333;
    min-width: 0;
    img {
        width: 20px;
    }
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}
.item-container.special .items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; /* Adjust spacing as needed */
}

.item-container.special .grid-item {
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

.item-container.special .grid-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
  


@media screen and (max-width: 600px)  {
    .item-container.special .items-grid {
        display: flex;
        flex-direction: column;
    }
    .items-grid{
        width: 90vw;
    }
}