.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 20px;
    h2 {
        width: fit-content;
        text-align: left;
    }
    form {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .form-group {
            display: flex;
            
        }
        button {
            align-self: flex-end;
        }
    }
}
.resizable-horizontal {
    resize: vertical;
}
.MuiTypography-body1{
    font-weight: 400;
}
.MuiAccordionSummary-content {
    margin-left: 0 !important;
}
@media (max-width:600px) {
    .css-gq97pi-MuiButtonBase-root-MuiAccordionSummary-root {
        padding: 0 !important;
    }
    .contact-form{
        width: 90%;
        justify-self: center;
        margin: 0;
        form {
            width: 100%;
        }
    }
    .contact-form>form>button {
        align-self: center;
    }
    .qaaCont {
        align-items: center !important;
    }
}
.form-group{
    flex-direction: column;
    align-items: flex-start;
}