.cartCont {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .ant-steps {
        width: 25%;
        min-width: 400px;
    }
    .cartWrap {
        width: 25%;
        min-width: 750px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        p {
            line-height: 1;
            input {
                width: fit-content;
                font-size: 16px;
                font-family: "Inter", sans-serif;
                padding: 7px;
            }
        }
        button {
            align-self: center;
        }
    }
}
.cartWrap>.datePickerCont{
    width: fit-content;
    margin: 10px;
}
.cartWrap>div>.popiskyCont>.pujceni-button>button {
    display: none;
}
@media (max-width: 479px) {
    .cartWrap {
        transform: scale(0.85);
        width: 90% !important;
        margin: 0 5% ;
        min-width: 0 !important;
        height: fit-content;
        height: 580px;
    }
    .ant-steps {
        width: 90% !important;
        margin: 0 5% ;
        min-width: 0 !important;
    }
    .cartWrap>.datePickerCont {
        transform:scale(0.85) translate(0,-40px);
        width: auto;
    }
    .cartWrap>button {
        transform: translate(0, -80px);
    }
}
.cart-step1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60vw;
    .cart-step1-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        div>p {
            color: #818181;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative; /* The popup will align relative to this */
            width: fit-content;
            strong {
                color: #818181;
            }
        }
        
    }
    div {
        h4,h3 {
            text-align: center;
        }
    }
    
    
}
.step1-button-cont{
    width: 890px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 40px;
    .cart-next-button {
        justify-self: end !important;
        align-self: end !important;
    }
}
.cart-step2 {
    display: flex;
    flex-direction: column;
    width: 55vw;
    gap: 40px;
    .cart-step2-button{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        div {
            width: 60%;
            p {
                width: 100%;
                color:#8A8A96;
                a {
                    color:#8A8A96 !important;
                    text-decoration: underline;
                }
            }
        }
    }
}
.editIcon{
    background-color: transparent;
    min-width: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 17px;
    }
}

.cart-step3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55vw;
    .cart-termin>p {
        color: #818181;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        strong {
            color: #818181;
        }
    }
    P {
        color: #818181;
        margin-top: 40px;
    }
}
.cart-previous-button{
    background-color: transparent;
    color:#818181;
    font-size: 15px;
    min-width: 150px;
    padding: 0;
}
.cart-next-button{
    font-size: 15px;
}
.step-button-cont{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.step3-button-cont{
    width: 100%;
    margin-top: 40px;
}
.cart-step {
    max-width: 800px;
}
.order-success{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.popup-calendar{
    background-color: white;
    box-shadow: 5px 5px 30px 0px #00000026;
    border-radius: 30px;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 20px;
    z-index: 100;
    .datePickerCont{
        margin-top: 0;
    }
}
@media screen and (max-width: 600px){
    .cartWrap {
        margin: 0;
        padding: 0 !important;
        transform: none;
        height: auto;
        padding-left: 4px;
        .cart-step {
            width: 100%;
        }
    }
    .step1-button-cont{
        width: 100%;
    }
    .cart-previous-button{
        min-width: 120px;
    }
    .form-container{
        display: flex !important;
        flex-direction: column !important;
        gap: 0 !important;
    }
    .cart-step2-button{
        flex-direction: column !important;
        gap: 40px;
        div {
            width: 100% !important;
            p{
                font-size: 12px;
            }
        }
    }
}