
.cartCont {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .ant-steps {
        width: 25%;
        min-width: 400px;
    }
    .cartWrap {
        width: 25%;
        min-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #f1f1f1;
        padding: 30px;
        border-radius: 20px;
        p {
            line-height: 1;
            input {
                width: fit-content;
                font-size: 16px;
                font-family: "Inter", sans-serif;
                padding: 7px;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            button {
                align-self: center;
            }
        }
        button {
            align-self: center;
        }
    }
}
.cartWrap>.datePickerCont{
    width: fit-content;
    margin: 10px;
}
.cartWrap>div>.popiskyCont>.pujceni-button>button {
    display: none;
}
@media (max-width: 479px) {
    .cartWrap {
        transform: scale(0.8);
        width: 90% !important;
        margin: 0 5% ;
        min-width: 0 !important;
    }
    .ant-steps {
        width: 90% !important;
        margin: 0 5% ;
        min-width: 0 !important;
    }
}