.cart-items-list{
    min-width: 750px;
}
.cart-total-price{
    width: 100%;
    display: flex;
    justify-content: end;
    height: 100px;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    h4,p {
        width: fit-content;
        text-align: left !important;
        margin-right: 55px;
    }
    p {
        color: #8A8A96;
    }
}