.footerBg {
    background-color: #eeeff1;
    height: 20vh;
    padding: 50px;
    a {
        color: black;
        text-decoration: none;
    }
}
.footerWrap {
    margin-top: auto;
    padding-top: 150px;
}