
.cart-total-price{
    width: 100%;
    display: flex;
    justify-content: end;
    height: 100px;
    align-items: center;
    h4 {
        width: fit-content;
        text-align: left !important;
        margin-right: 55px;
    }
}