
.App {
    text-align: center;
    overflow-x: hidden;
    height: 100vh;  /* Ensure that the App takes full height of the viewport */
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.main-cont > div {
    margin-top: 150px;
    margin-bottom: 0 !important;
}
.flexRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


