body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}
button {
  width: clamp(100px, 12vw, 210px);
  border-radius: 17px;
  border: 1px solid grey;
  background-color: transparent;
  font-size: clamp(13px, 1.5vw, 19px);
  font-family: "Inter";
  font-weight: 600;
  padding: 12px 20px;
  color: black;
  cursor: pointer;
  z-index: 1000000;
  outline: none;
}