body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}
button {
  width: clamp(100px, 12vw, 210px);
  border-radius: 17px;
  background-color: #FF6832;
  border: none;
  font-size: clamp(13px, 1.5vw, 19px);
  font-family: "Inter";
  font-weight: 600;
  padding: 18px 20px;
  color: white;
  cursor: pointer;
  z-index: 1000000;
  outline: none;
}
input, textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  padding: 10px;
}
input::placeholder, textarea::placeholder {
  color: black;
  font-size: larger;
  font-family: "Inter", sans-serif;
}
@media (max-width: 479px) {
  button {
    width: auto;
  }
}
