* {
    margin: 0;
    padding: 0;
}
@keyframes fade {
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.section2 {
    margin-top: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    gap: 80px;
    .nadpisy {
        width: 60vw;
    }
    .kroky {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .cesta1, .cesta2 {
            width: 150px;
            height: 140px;
        }
        .cesta1 {
            transform:scale(1.2) translateY(-25px);
            user-select: none;
            -webkit-user-drag: none;
        }
        .cesta2 {
            transform:scale(1.2) translateY(-10px);
            animation: fade linear forwards;
            animation-timeline: view();
            animation-range-start: contain - 50%;
            animation-range-end: 300px;
            opacity: 0;
            user-select: none;
            -webkit-user-drag: none;
        }
        .krok {
            opacity: 1;
            flex-basis: 300px;
            height: 280px;
            display: flex;
            align-items: center;
            flex-direction: column;
            h5 {
                margin: 0;
                margin-top: 30px;
                font-size: 28px;
            }
            p {
                margin: 0;
                margin-top: 20px;
                width: 130%;
                height: 20%;
                font-size: 15px;
                color: #8A8A96;
            }
            .icon-bg, .icon-bg2 {
                
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                img {
                    width: 50px;
                    user-select: none;
                    -webkit-user-drag: none;
                }
            }

        }
    }
}
.icon-bg2 {
    background-image: url(../../../assets/Rectangle2.svg);
    width: 100px;
    height: 100px;
    transition: 300ms;
}
.icon-bg {
    background-image: url(../../../assets/Rectangle1.svg);
    width: 100px;
    height: 100px;
    transition: 300ms;
}

@media screen and (max-width: 1550px) {
    .kroky {
        width: 70vw;
    }
    .cesta1, .cesta2 {
        transform: scale(1);
        overflow: hidden;
        width: 5vw;
    }
}
@media screen and (min-width: 1550px) {
    .kroky {
        width: 48vw;
    }
}
@media (max-width: 600px) {
    .section2  {
        gap: 40px;
        .nadpisy {
            width: 90%;
            gap: 0;
            h3, h4 {
                text-align: left;
            }
        }
        .kroky {
            width: 90%;
            gap: 10px;
            flex-direction: column;
            align-items: center;
            img {
                display: none;
            }
            .krok {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                max-height: 100px;
                width: 100%;
                align-items: flex-start;
                .icon-bg, .icon-bg2 {
                    width: 60px;
                    height: 60px;
                    grid-area: 1 / 1 / 3 / 2;
                    justify-self: end;
                    align-self: center;
                    border-radius: 3rem;
                    margin-right: 15px;
                    img {
                        width: 20px;
                    }
                }
                h5 {
                    font-size: 20px;
                    margin-top: 10px;
                    text-align: left;
                    font-weight: 500;
                    grid-area: 1 / 2 / 2 / 6;
                    align-self: flex-end;
                }
                p {
                    font-size: 12px;
                    width: fit-content;
                    height: fit-content;
                    text-align: left;
                    margin-top: 5px;
                    grid-area: 2 / 2 / 3 / 6;
                }
                img {
                    display: inline;
                }
            }
        }
    }
}