.calendar {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  
  .week {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
  
  .day,.day-name {
    text-align: center;
    padding: 10px;
    font-family: "Inter";
    font-weight: 500;
    color: #8A8A96;
    height: 20px;
    width: 20px;
    line-height: 1.19;
    cursor: pointer;
    user-select: none;
  }
  .selected {
    background-color: #0775E2;
    color: white;
  }
  .lastSelected {
    background-color: #0775E2;
    color: white;
    border-radius: 2rem;
  }
  .locked {
    background-color: #A20B0B; 
    color: white;
    user-select: none;
    pointer-events: none;
    border-radius: 2rem;
  }
  .endItem {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .selected {
    border-radius: 2rem;
  }
  .prevMonth {
    color: rgb(180, 180, 180);
  }
  .week .day:last-child {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .calendarsWrapper {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  .calendar1 {

    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: left;
    h2 {
        font-family: "Inter";
        color: #818181;
        margin-top: 160px;
        margin-bottom: 30px;
        text-align: left;
    }
  }
  .calendar2 {
    align-items: left;
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    h2 {
        font-family: "Inter";
        color: #818181;
        margin-top: 160px;
        margin-bottom: 30px;
        text-align: left;
    }
  }

.popisky {
  display: flex;
  flex-direction: row;
  width: 800px;
  gap: 50px;
  .popisek1, .popisek2 {
    padding-top: 15px;
    display: flex;
    gap: 12px;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    div{ 
      width: 28px;
      height: 28px;
      border-radius: 2rem;
    }
    h3 {
      display: flex;
      align-items: center;
      font-family: "Inter";
      font-weight: 500;
      font-size: 18px;
      color: #818181;
    }
  }
}
.pujceni-info {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px;
  gap: 40px;
  p {
    font-family: "Inter";
      font-weight: 500;
      font-size: 18px;
      color: #818181;
  }
}
.pujceni-button {
  width: 850px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.popisek1>div {
  background-color: #A20B0B;
}
.popisek2>div {
  background-color: #0775E2;
}

.pujceni-counter {
  width: 800px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  p {
    font-family: "Inter";
      font-weight: 500;
      font-size: 18px;
      color: #818181;
  }
  h5 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
    width: fit-content;
    color: #818181;
  }
}


@media (max-width: 479px) {
  .calendarsWrapper {
    width: 100%;

  }
  .calendar2 {
    translate: 0 -50px;
  }
  .calendar {
    
    width: 90%;
    margin: 50px 5% 0 5%;
    .calendarsWrapper {
      flex-direction: column;
      align-items: center;
      .calendar1, .calendar2 {
        transform: scale(0.8);
        h2 {
          margin: 40px 0 10px 0;
          text-align: center;
        }
      }
    }
    .popisky, .pujceni-info, .pujceni-button, .pujceni-counter {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .popisky {
      margin: 0;
      justify-content: left;
      gap: 10px;
      .popisek1, .popisek2 {
        gap: 5px;
        padding: 0;
        justify-content: left;
        width: fit-content;
        align-items: center;
        div {
          width: 25px;
          height: 25px;
        }
        h3 {
          font-size: 12px;
          width: fit-content;
          text-align: left;
        }
      }
    }
    .pujceni-info {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      p {
        font-size: 12px;
        text-align: left;
      }
    }
    .pujceni-counter {
      align-items: end;
      p {
        font-size: 12px;
        text-align: left;
      }
      h5 {
        font-weight: 800;
      }
    }
    .pujceni-button {
      justify-content: center;
    }
  }

}