@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --primary-color: #0775E2;
    --disabled-color: #A20B0B;
    --font-size-calendar: 15px;
    --font-size-info: 20px;
}
.datePickerCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.react-datepicker__day--selected.react-datepicker__day--range-start.react-datepicker__day--range-end.react-datepicker__day--in-range {
    border-radius: 2rem;
  }
  
.react-datepicker__current-month {
    font-size: 25px;
    color: #818181;
}


.react-datepicker__current-month::first-letter {
    text-transform: capitalize;
}
.react-datepicker__day--today {
    border-radius: 2rem;
    background-color: lightgrey;
}
.react-datepicker__header__dropdown {
    display: none;
}
.react-datepicker__header {
    border: none;
    background-color: transparent;
    padding-bottom: 0;
}
.react-datepicker__navigation {
    outline: none;
    border: none;
    margin: 7px 13px;
}
.react-datepicker__day--disabled {
    background-color: var(--disabled-color);
    border-radius: 2rem;
}
.react-datepicker__day--selected {
    background-color: var(--primary-color);
    border-radius: 2rem;
}
.react-datepicker__day--range-end {
    border-radius: 0.7rem 30px 30px 0.7rem;
    background-color: var(--primary-color);
    color: white;
}
.react-datepicker__day--range-start {
    border-radius: 30px 0.7rem 0.7rem 30px;
}
.react-datepicker__day--selecting-range-start {
    border-radius: 30px 0.7rem 0.7rem 30px;
}
.react-datepicker__day--selecting-range-end {
    border-radius: 0.7rem 30px 30px 0.7rem;
}
.react-datepicker__day--in-range:not([aria-disabled=true]):hover, 
.react-datepicker__month-text--selected:not([aria-disabled=true]):hover, 
.react-datepicker__month-text--in-selecting-range:not([aria-disabled=true]):hover, 
.react-datepicker__month-text--in-range:not([aria-disabled=true]):hover, 
.react-datepicker__quarter-text--selected:not([aria-disabled=true]):hover, 
.react-datepicker__quarter-text--in-selecting-range:not([aria-disabled=true]):hover, 
.react-datepicker__quarter-text--in-range:not([aria-disabled=true]):hover, 
.react-datepicker__year-text--selected:not([aria-disabled=true]):hover, 
.react-datepicker__year-text--in-selecting-range:not([aria-disabled=true]):hover, 
.react-datepicker__year-text--in-range:not([aria-disabled=true]):hover {
    background-color: var(--primary-color);
}
.react-datepicker__day--selected, 
.react-datepicker__day--in-selecting-range, 
.react-datepicker__day--in-range, 
.react-datepicker__month-text--selected, 
.react-datepicker__month-text--in-selecting-range, 
.react-datepicker__month-text--in-range, 
.react-datepicker__quarter-text--selected, 
.react-datepicker__quarter-text--in-selecting-range, 
.react-datepicker__quarter-text--in-range, 
.react-datepicker__year-text--selected, 
.react-datepicker__year-text--in-selecting-range, 
.react-datepicker__year-text--in-range {
    background-color: var(--primary-color);
}


.react-datepicker__day:not([aria-disabled=true]):hover, .react- datepicker____month-text:not([aria-disabled=true]):hover, .react- datepicker_quarter-text:not([aria-disabled=true]):hover, .react- datepicker___year-text:not([aria-disabled=true]):hover {
    border-radius: 2rem;
}

.react-datepicker__year-select, .react-datepicker__month-select {
    font-size: var(--font-size-calendar);
    padding: 5px 10px;
    border: none;
    border-radius: 2rem;
}

.react-datepicker__month-container {
    float: none;
}

.react-datepicker {
    width: 400px; /* Increase the calendar width */
    border: none;
}


.react-datepicker__day, .react-datepicker__day-name {
    font-size: var(--font-size-calendar); 
    padding: 10px; 
    text-transform: uppercase;
}

.react-datepicker__navigation {
    font-size: 24px; 
    span::before{
        color: black;
    }
}
    

.react-datepicker {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.react-datepicker__month{
    width: auto;
    margin-top: 0;
}

.popisky, .pujceni-info, .pujceni-button, .pujceni-counter {
    width: 100%;
    margin: 0;
    padding: 0;
}
.pujceni-info {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 400px;
    display: flex;
    justify-content: left;
    gap: 40px;
    p {
        font-size: 12px;
        text-align: left;
        font-weight: 500;
        font-size: var(--font-size-info);
        color: #818181;
    }
}
.pujceni-counter {
    align-items: end;
    p {
        font-size: 12px;
        text-align: left;
    }
    h5 {
        font-weight: 800;
    }
}
.pujceni-button {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.popisek1>div {
    background-color: var(--disabled-color);
}
.popisek2>div {
    background-color: var(--primary-color);
}
  
.pujceni-counter {
    width: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    
    p {
        font-weight: 500;
        font-size: var(--font-size-info);
        color: #818181;
    }
    h5 {
        font-weight: 500;
        font-size: var(--font-size-info);
        width: fit-content;
        color: #818181;
        font-weight: 700;
    }
}
.popiskyCont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}
.popisky {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: 0;
    gap: 10px;
    justify-content: left;
}

.popisky .popisek1,
.popisky .popisek2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 0;
    width: fit-content;
    align-items: center;
    justify-content: left;
}

.popisky .popisek1 div,
.popisky .popisek2 div {
    width: 25px;
    height: 25px;
    border-radius: 2rem;
}

.popisky .popisek1 h3,
.popisky .popisek2 h3 {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    width: fit-content;
    text-align: left;
    color: #818181;
}
.react-datepicker__day-names {
    margin-top: 20px;
    font-size: var(--font-size-calendar)-2px;
}
.past-day {
    opacity: 0.5;
    pointer-events: none; 
}
.react-datepicker__day {
    user-select: none;
}
.react-datepicker__day--keyboard-selected {
    background-color: transparent;
}
.react-datepicker__day--range-end {
    background-color: var(--primary-color);
}
.react-datepicker__day--selecting-range-start.react-datepicker__day--selecting-range-end {
    border-radius: 2rem;
}
.react-datepicker__day--selecting-range-end {
    border-radius: 0.7rem 30px 30px 0.7rem;
}
@media (max-width: 479px) {
    .datePickerCont {
        flex-direction: column;
        transform: scale(0.7);
        .pujceni-button {
            justify-content: right;
            button {
                width: fit-content;
                font-size: 20px;
            }
        }
    }
}
/* Disable hover effects on devices with touch screens or smaller widths */
@media (hover: none), (pointer: coarse), (max-width: 768px) {
    .react-datepicker__day:not([aria-disabled=true]):hover,
    .react-datepicker__month-text:not([aria-disabled=true]):hover,
    .react-datepicker__quarter-text:not([aria-disabled=true]):hover,
    .react-datepicker__year-text:not([aria-disabled=true]):hover,
    .react-datepicker__day--in-range:not([aria-disabled=true]):hover,
    .react-datepicker__month-text--selected:not([aria-disabled=true]):hover,
    .react-datepicker__month-text--in-selecting-range:not([aria-disabled=true]):hover,
    .react-datepicker__month-text--in-range:not([aria-disabled=true]):hover,
    .react-datepicker__quarter-text--selected:not([aria-disabled=true]):hover,
    .react-datepicker__quarter-text--in-selecting-range:not([aria-disabled=true]):hover,
    .react-datepicker__quarter-text--in-range:not([aria-disabled=true]):hover,
    .react-datepicker__year-text--selected:not([aria-disabled=true]):hover,
    .react-datepicker__year-text--in-selecting-range:not([aria-disabled=true]):hover,
    .react-datepicker__year-text--in-range:not([aria-disabled=true]):hover {
      background-color: unset;
    }
  }
  
