@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.section3 {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .nadpis-section3 {
        width: 60vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h4 {
            text-align: left;
        }
        h3 {
            text-align: left;
            font-family: "Inter";
            font-weight: bold;
            font-size: 40px;
            width: fit-content;
            animation: fadeIn linear forwards;
            animation-timeline: view();
            animation-range-start: contain - 100%;
            animation-range-end: 300px;
            opacity: 0;
        }
    }
    .popis-a-kocarek {
        display: flex;
        width: 60vw;
        height: auto;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
            width: 50%;
            min-width: 350px;
            height: 50%;
            position: relative;
            animation: fadeIn linear forwards;
            animation-timeline: view();
            animation-range-start: contain - 100%;
            animation-range-end: 300px;
            opacity: 0;
            transform: scale(1.4) translate(-40px, 0);
        }
        .popis-cont {
            width: 40%;
            p {
                text-overflow: ellipsis;
                width: 100%;
                text-align: left;
                font-size: 20px;
                color: #818181;
                font-weight: 400;
                height: fit-content;
                padding-top: 40px;
                animation: fadeIn linear forwards;
                animation-timeline: view();
                animation-range-start: contain - 100%;
                animation-range-end: 300px;
                opacity: 0;
            }
        }
        .dontkeep {
            display: none;
        }
    }
}

@media screen and (min-width: 1600px) {
    .popis-a-kocarek > img {
        transform: translateY(0);
    }
}

@media screen and (max-width: 800px) {
    .nadpis-section3 {
        align-items: left;
        h3 {
            text-align: left;
        }
    }
    .section3 {
        margin-top: 100px;
        .nadpis-section3 {
            width: 80%;
            h3 {
                font-size: 30px;
                font-weight: 800;
            }
        }
        .popis-a-kocarek {
            width: 80%;
            justify-content: center;
            .popis-cont {
                width: 100%;
                p {
                    width: 100%;
                }
            }
            img {
                min-width: 300px;
                opacity: 1;
                transform: scale(1.20) translate(-10px, 0);
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .nadpis-section3,
    .popis-a-kocarek {
        width: 90%;
    }
}
.section3 .popis {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

@media (min-width: 1200px) {
    .section3 .popis {
        max-height: none; /* Remove the height restriction for larger screens */
    }
}

.section3 .popis.expanded {
    max-height: none;
}

.toggle-button {
    display: block;
    min-width: 0;
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.toggle-button {
    display: none;
}

@media (max-width: 1200px) {
    .toggle-button {
        display: block;
    }
}
