@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.section3 {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .nadpis-section3 {
        width: 60vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h4 {
            text-align: left;
        }
        h3 {
            text-align: left;
            font-family: "Inter";
            font-weight: bold;
            font-size: 40px;
            width: fit-content;
            animation: fadeIn linear forwards;
            animation-timeline: view();
            animation-range-start: contain - 100%;
            animation-range-end: 300px;
            opacity: 0;
        }
    }
    .popis-a-kocarek {
        display: flex;
        width: 60vw;
        height: auto;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 80px;
        img {
            width: 50%;
            height: 50%;
            min-width: 350px;
            max-width: 500px;
            position: relative;
            animation: fadeIn linear forwards;
            animation-timeline: view();
            animation-range-start: contain - 100%;
            animation-range-end: 300px;
            opacity: 0;
            transform: translate(0, -30px) scale(1.2);
            z-index: 0;
        }
        .popis-cont {
            width: 40%;
            flex: 1;
            align-items: flex-start;
            span {
                margin-top: 40px;
                font-size: 20px !important;
            }
            .pujceni-info{
                width: auto;
                p {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
        .dontkeep {
            display: none;
        }
    }
}
@media screen and (min-width: 1600px) {
    .popis-a-kocarek > img {
        transform: translateY(0);
    }
}

@media screen and (max-width: 800px) {
    .nadpis-section3 {
        align-items: left;
        h3 {
            text-align: left;
        }
    }
    .section3 {
        margin-top: 100px;
        .nadpis-section3 {
            width: 90%;
            h3 {
                font-size: 30px;
                font-weight: 800;
            }
        }
        .popis-a-kocarek {
            width: 90%;
            justify-content: center;
            .popis-cont {
                width: 100%;
                position: relative;
                span {
                    font-size: 15px !important;
                }
            }
            img {
                transform: translate(0, -30px) scale(1);
            }
            .ant-carousel  {
                min-width: 300px;
                opacity: 1;
                transform: none;
            }
        }
    }
}
.carousel-image {
    max-width: 200px; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Make sure the image fills the space while maintaining its aspect ratio */
    max-height: 400px; /* Set a maximum height for the image */
    margin: 0 auto; /* Center the image */
}

.readMoreText{
    padding-left: 5px;
}
@media screen and (max-width: 600px) {
    .nadpis-section3,
    .popis-a-kocarek {
        width: 90%;
    }
}
.section3 .popis {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

@media (min-width: 1200px) {
    .section3 .popis {
        max-height: none; /* Remove the height restriction for larger screens */
    }
}

.section3 .popis.expanded {
    max-height: none;
}

.toggle-button {
    display: block;
    min-width: 0;
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.toggle-button {
    display: none;
}

@media (max-width: 1200px) {
    .toggle-button {
        display: block;
    }
}

@media (max-width:600px){
    .popis {
        display: -webkit-box;
        line-clamp: 4;
        -webkit-line-clamp: 4; /* Limit the number of lines before truncation */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5em; /* Adjust line-height */
        max-height: 6em; /* Based on 3 lines with 1.5em line-height */
        position: relative; /* Ensure the parent has relative positioning */
    }
    
    .popis.expanded {
        line-clamp: unset;
        -webkit-line-clamp: unset;
        max-height: unset;
    }
    
    .toggle-button-container {
        position: absolute; /* Ensure it's within the bounds of the text */
        cursor: pointer;
        text-align: center;
        padding-top: 5px; /* Optional: Adjust the space between text and button */
        color: #007BFF;
        text-decoration: underline;
        font-size: 1rem;
        top: 7em;
        background-color: white;
        right: 0;
        z-index: 100;
    }
}
.carousel-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 400px;
    margin: 0 auto;
    display: block;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #1890ff; /* Active dot color */
}
