* {
    margin: 0;
    padding: 0;
}

.navigation-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 15%;
}
.logo-cont {
    width: fit-content;
    display: flex;
    justify-content: start;
    a>img {
        width: 140px;
        height: 50px;
        user-select: none;
        -webkit-user-drag: none;
    }
}
.nav-links-cont {
    min-width:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    .nav-link {
        font-weight: 400;
        font-size: clamp(14px, 1.1vw, 17px);
        text-decoration: none;
        color: black;
        user-select: none;
        transition: 500ms;
    }

}
.nav-link:hover {
    transform: scale(1.2);
    transition: 250ms;
}
.breadcrumb-wrap {
    width: 70%;
    margin: 0 auto;
    transform: translateY(-20px);
}
.hamburger-menu {
    display: none !important;
    min-width: 0 !important;
    border-radius: 8px !important;
}
@media (max-width: 600px) {
    .navigation-wrap{
        width: 90%;
        margin: 0 5% ;
        .nav-links-cont {
            width: fit-content;
            gap: 10px;
        }
    }
    .breadcrumb-wrap {
        width: 90%;
        margin: 0 5% ;
    }
    .nav-links-cont {
        display: none;
    }

    .hamburger-menu {
        display: flex !important;
    }
}
